
<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
        <meta name="viewport" content="width=device-width"/>
        <meta name="description" content="Data4Leads"/>
        <meta charset="UTF-8"> 

        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link href='http://fonts.googleapis.com/css?family=Calibri:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    </head>
    <body>
        <div id="landing">
            <div id="webtitleTexts">
                <section>
                    <div id="data4logo" data-aos="fade-up" data-aos-duration="1000">
                        <img src="{{url_for('static', filename='img/data4leads.png' )}}" alt="data4leads_logo" />
                    </div>
                    <div id="name">
                        <h2>
                            Soluções em Dados e Estatística
                        </h2>
                    </div>
                    <p id="webtitleSubDetail">
                        “Soluções que cultivam relacionamentos com seus clientes”
                    </p>
                </section>
            </div>
            <div data-aos="fade-up" data-aos-delay="1000">
                <section>
                    <div id="flower" data-aos="fade-right" data-aos-duration="700">
                        <img src="{{url_for('static', filename='img/lotus.png' )}}" alt="lotus" />
                        <div class="container">
                            <article>
                                <h1>
                                    LOTUS
                                </h1>
                                <h2>
                                    A Plataforma de Envio de SMS em Massa
                                </h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at.
                                </p>
                            </article>
                        </div>
                    </div>
                    <div id="flower" data-aos="fade-left" data-aos-duration="700">
                        <img src="{{url_for('static', filename='img/lirio.png' )}}" alt="lirio" />
                        <div class="container">
                            <article>
                                <h1>
                                    LÍRIO
                                </h1>
                                <h2>
                                    A Plataforma de Enriquecimento Cadastral
                                </h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at.
                                </p>
                            </article>
                        </div>
                    </div>
                    <div id="flower" data-aos="fade-right" data-aos-duration="700">
                        <img src="{{url_for('static', filename='img/iris.png' )}}" alt="iris" />
                        <div class="container">
                            <article>
                                <h1>
                                    ÍRIS
                                </h1>
                                <h2>
                                    A Plataforma de Gestão de Leads/Campanhas
                                </h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at.
                                </p>
                            </article>
                        </div>
                    </div>
                    <div id="flower" data-aos="fade-left" data-aos-duration="700">
                        <img src="{{url_for('static', filename='img/violeta.png' )}}" alt="violeta" />
                        <div class="container">
                            <article>
                                <h1>
                                    VIOLETA
                                </h1>
                                <h2>
                                    Geração Qualificada de Leads B2B
                                </h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at.
                                </p>
                            </article>
                        </div>
                    </div>  
                    <div id="flower" data-aos="fade-right" data-aos-duration="700">
                        <img src="{{url_for('static', filename='img/tulipa.png' )}}" alt="tulipa" />
                        <div class="container">
                            <article>
                                <h1>
                                    TULIPA
                                </h1>
                                <h2>
                                    Solução de WebScraping
                                </h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at.
                                </p>
                            </article>
                        </div>
                    </div>
                    <div id="flower" data-aos="fade-left" data-aos-duration="700">
                        <img src="{{url_for('static', filename='img/lis.png' )}}" alt="lis" />
                        <div class="container">
                            <article>
                                <h1>
                                    LIS
                                </h1>
                                <h2>
                                    RPA - Automaçõa de Processos Robóticos
                                </h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at.
                                </p>
                            </article>
                        </div>
                    </div>
                    <div id="flower" data-aos="fade-right" data-aos-duration="700">
                        <img src="{{url_for('static', filename='img/margarida.png' )}}" alt="margarida" />
                        <div class="container">
                            <article>
                                <h1>
                                    MARGARIDA
                                </h1>
                                <h2>
                                    Modelos Estatísticos e Machine Learning
                                </h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
            </div>
            <section>
                <h2>
                    Contatos:
                </h2>
                <ul>
                    <li>
                        comercial@data4leads.com.br
                    </li>
                    <li>
                        +55 11 9 9712-1156
                    </li>
                </ul>
            </section>
        </div>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init({
            once: true,
          });
        </script>
    </body>
</html>